.container {
    margin:1rem auto 1.5rem;
    max-width: none;
    width: 90%;
}
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
.navbar-fixed {
    z-index:9999;
}
.nav-wrapper {
    margin:auto;
    width: 90%;
}
@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 56px;
        line-height: 56px;
    }
}
.logo {
    width: 107px;
    height: 20px;
    margin: 1.2rem 0;
}
.header-search {
    width: 25%;
    max-width: 250px;
}
.header-search input[type="search"] {
  -webkit-appearance: none;
}
@media only screen and (max-width: 600px) {
    .nav-wrapper {
    width: 100%;
    }
    nav .brand-logo {
    left:50px;
    margin-left:1.25rem;
    }
    .header-search {
    max-width: 200px;
    width: 65%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
    nav .brand-logo {
    left:50px;
    }
    .header-search {
    width: 310px;
    }
}

/** Cards **/
.card {
    border-radius: 5px;
}
.card .card-content {
    border-radius: 5px 5px 0 0;
}
.card .card-action {
    border-radius: 0 0 5px 5px!important;
    display:block;
    overflow:hidden;
}
/** Table on Computers - Cards on Mobile **/
.cards-on-small {
    display:none;
}
.cards-on-small p {
font-size: 1.2rem;
padding: .75rem 1.75rem .5rem;
}
.cards-on-small h1 {
font-size: 3rem;
margin-top:0;
}
.cards-on-small h2 {
font-size: 2rem;
margin-top:1rem;
}
@media only screen and (max-width: 800px) {
    .table-on-large {
        display:none;
    }
    .cards-on-small {
    display:block;
    }
}

/** Home **/
.home a:hover {
    color: #03a9f4!important;
}
.home-list-company {
    display:block;
    font-size:1.75rem;
}
.home-list-header.company {
    padding: 0 0 0 60px;
}
@media only screen and (max-width: 992px) {
    .home-list-header {
        line-height:1.85rem;
    }
    .home-list-logo, .home-list-stock  {
        display:none;
    }
    .home-list-company {
        font-size:1.25rem;
        font-weight:bold;
    }
    .home-list-header.company {
        padding: 0;
    }
}

/** Pages **/
h1.card-title, h2.card-title, h3.card-title, h4.card-title {
    margin:0 0 1rem;
}
.page-type {
    text-transform:uppercase;
}
.list-view .row  {
    margin:0;
}
.company h1, .company-marketcap h1, .stock h1, .stockindex h1, .list-view h1, .dashboard h1  {
    font-size: 3rem;
    margin:0 0 1.2rem;
}
.comp-logo, .flag {
    display:inline-block;
    float: right;
    line-height:0;
}
@media only screen and (max-width: 992px) {
    .comp-logo, .flag {
        float: left;
    }
}
.comp-logo img, .flag img {
    max-width:128px;
}
.short-desc p {
    font-size: .9rem;
}
.company-categs, .stock-prices, .stock-categs {
    display:inline-block;
}
.card-action ul {
    margin:0;
}
.stock-indices .card-action a {
    display:block;
    text-transform:none !important;
}
.company-stocks h3,
.market-cap h3,
.stocks-list h3,
.stock-indices h3 {
    font-size: 1rem;
    text-transform:uppercase;
    margin:0;
}
.company .company-stocks a, a .single-stock {
    font-size: 1.3rem;
}
.company .stock-quote {
border:2px solid #fff;
border-radius:5px;
line-height:1.6rem;
padding: 0 3px 1px;
margin: 0 20px 0 10px;
}
.company .stock-indices h3,
.company-marketcap .stock-indices h3 {
    margin: 0 0 1.5rem;
    text-transform:none;
}
.comp-overview .card-action:hover {
    background: #00838f!important;
}
.market-cap p.mcap {
    font-size: 3rem;
}
.market-cap p {
    font-size: 1rem;
}
.company-categs a, .market-cap a, a .stock-categs, .stockindex-categs a, a .regular-card.card-action {
    font-size: 1.3rem;
    text-transform:uppercase;
}
.regular-card.card-action:hover {
    background: #cfd8dc!important;
}
.market-cap .card-action:hover {
    background: #388e3c!important;
}
.stock-overview .card-action:hover, .company-marketcap .single-stock.card-action:hover {
    background: #558b2f!important;
}
.stockindex-overview .card-action:hover {
    background: #546e7a!important;
}
p.sources {
    font-size: 1rem;
    margin: 1rem 0 0!important;
}
.stock-indices li, .company-marketcap .company-stocks li {
    padding: .7rem 1rem;
}
.company-marketcap .company-stocks li:hover {
    background: #33691e!important;
}
.company .stock-indices li:hover {
    background: #fff!important;
}
.stock-indices li:hover {
    background: #455a64!important;
}
.stock .stock-details, .stockindex .stockindex-details, .list-view .stocks-list {
    display:inline-block;
    float: right;
}
@media only screen and (max-width: 992px) {
    .stock .stock-details, .stockindex .stockindex-details, .list-view .stocks-list  {
        float: left;
    }
}
.list-view .stocks-list h2 {
    font-size:2rem;
    margin:0;
}
.stock .stock-details h3, .stockindex .stockindex-details h3, .list-view .stocks-list h3 {
    font-size:1.8rem;
    margin:0;
}
p.yr-change {
    clear:both;
    font-weight:bold;
}
p.yr-change.green-text, p.yr-change.red-text {
    font-size:1.8rem;
}
.comp-categs .btn,
.competitors .btn-small,
.list-view .btn-small,
.dashboard .btn-small {
    margin: .25rem 0;
}
.line-graph .btn-small {
    padding: 0 6px;
    height: 26px;
    line-height: 26px;
}

/** Dashboard Companies Widget **/
.filter-form.card {
border-radius:0;
}
.filter-form .card-content {
padding:0;
}
.filter-form .collapsible,
.filter-form .collapsible-header,
.filter-form .collapsible-body {
border:0;
}
.filter-form .collapsible-body {
border-top:1px solid #ddd;
}
.filter-form .row .col {
padding:0;
}
.filter-form p {
    padding: 0 .25rem;
    margin: .25rem 0;
}
/* Form Tabs */
.filter-form .tabs .tab a{
    color:#fff;
} /*Black color to the text*/
.filter-form .tabs .tab a:hover,
.filter-form .tabs .tab a.active {
    background-color:#fff;
    color:#546e7a;
} /*Text color on hover and active*/
.filter-form .tabs .indicator {
    background-color:#fff;
} /*Color of underline*/

.filter-form .form-fields-group {
    padding: 1rem;
    border-radius: 0 0 3px 3px;
    height:200px;
}
.filter-form .input-field {
    margin: 0;
}
.filter-form select {
    border: 1px solid #ccc;
}
.filter-form p.form-andor {
    width: 84px;
    text-align: center;
    margin: .5rem auto 0;
    border: 2px dashed #90a4ae;
    border-radius: 1.5rem;
}
.filter-form .switch {
    margin: 1.5rem auto .5rem;
    padding: .75rem 0;
    border-radius: 1.5rem;
}
.filter-form .switch label {
    font-size: 1rem;
    display: block;
    width:223px;
    margin:auto;
}
.filter-form button {
    height:50px;
    width: 100%;
    text-align: center;
    margin: 1rem auto 0;
}
.filter-form select {
    display:block;
    color:#37474f;
}
.filter-form option[value=sector_basic-materials],
.filter-form option[value=sector_communication-services],
.filter-form option[value=sector_consumer-discretionary],
.filter-form option[value=sector_consumer-staples],
.filter-form option[value=sector_energy],
.filter-form option[value=sector_financials],
.filter-form option[value=sector_healthcare],
.filter-form option[value=sector_industrials],
.filter-form option[value=sector_real-estate],
.filter-form option[value=sector_technology],
.filter-form option[value=sector_utilities] {
    font-weight:bold;
}

/** External Promotions Widget **/
.external:hover {
	background:#d84315!important;
}
.external img {
	border:5px solid #fff;
}
.external .download {
	position: relative;
	width:95px;
	margin:15px 20px 0 0;
	float:left;
}
.external .badge.price {
	position: absolute;
    	right: -15px;
	top: -10px;
	font-size:1rem;
	border:2px solid #fff;
	height:1.7rem;
}

/** Icons from Bootstrap **/
.company-details .fa, .page-footer .fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: darkgrey;
}
.page-footer .fa {
  background: #00796b;
  border-radius:50%;
}
/* Website */
.fa-laptop:hover {
  background: #006064;
}
/* Facebook */
.fa-facebook:hover {
  background: #3B5998;
}
/* Twitter */
.fa-twitter:hover {
  background: #55ACEE;
}
/* Linkedin */
.fa-linkedin:hover {
  background: #0a66c2;
}
/* Wikipedia */
.fa-wikipedia-w {
    padding: 10px 5px;
}
.fa-wikipedia-w:hover {
  background: #333;
}
/* Linkedin */
.fa-yahoo:hover {
  background: #6001d2;
}